<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>Home Stay</title>
</head>
<body>
  <!-- header -->
  <header>
    <div class="container">
      <a href=""><img src="../images/logo.png" alt=""></a>
      <ul class="nav-lists">
        <li class="nav-item">HOME</li>
        <li class="nav-item">ABOUT US</li>
        <li class="nav-item">PRODUCTS</li>
        <li class="nav-item">PROJECTS</li>
        <li class="nav-item">NEWS-EVENT</li>
        <li class="nav-item">GALLERY</li>
        <li class="nav-item">CONTACT</li>
      </ul>
    </div>
  </header>
  <!-- content -->
  <main>
    <!-- banner -->
    <section class="section-banner">
      <div>
        <h2>QUALITY POLICY</h2>
        <h1>COMMITMENT TO PRODUCT QUALITY</h1>
        <a href="">VIEW MORE</a>
      </div>
    </section>
    <!-- about us -->
    <section class="section-aboutus">
      <div class="container">
        <div class="section-title">
          <h2>ABOUT US</h2>
          <img src="../images/icon1.png" alt="">
        </div>
        <ul class="aboutus-lists">
          <li class="aboutus-item">
            <h3><span>INTERIOR</span> DESIGN CONSULTANT</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit veritatis, ipsa doloremque amet quidem corporis magni excepturi esse aspernatur sit. Iusto ad adipisci reiciendis ipsum necessitatibus fuga quo odio.</p>
            <img src="../images/about1.jpg" alt="">
          </li>
          <li class="aboutus-item">
            <h3><span>PROVIDE</span> INTERIOR PRODUCTS</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit veritatis, ipsa doloremque amet quidem corporis magni excepturi esse aspernatur sit. Iusto ad adipisci reiciendis ipsum necessitatibus fuga quo odio.</p>
            <img src="../images/about2.jpg" alt="">
          </li>
          <li class="aboutus-item">
            <h3><span>POLICY</span> QUALITY</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit veritatis, ipsa doloremque amet quidem corporis magni excepturi esse aspernatur sit. Iusto ad adipisci reiciendis ipsum necessitatibus fuga quo odio.</p>
            <img src="../images/about3.jpg" alt="">
          </li>
        </ul>
      </div>
    </section>
    <!-- products -->
    <section class="section-product">
      <div class="container">
        <div class="section-title">
          <h2>PRODUCTS</h2>
          <img src="../images/icon1.png" alt="">
          <ul class="tabs">
            <li class="tabs-item"><a href="">WOOD</a></li>
            <li class="tabs-item"><a href="">LED LIGHT</a></li>
            <li class="tabs-item"><a href="">CURTIAN</a></li>
            <li class="tabs-item"><a href="">WOOD FLOOR</a></li>
            <li class="tabs-item"><a href="">WALLPAPER</a></li>
            <li class="tabs-item"><a href="">CARPET</a></li>
          </ul>  
        </div>
      </div>
      <ul class="products-lists">
        <li class="products-item"><a href=""><img src="../images/pro1.jpg" alt=""></a></li>
        <li class="products-item"><a href=""><img src="../images/pro2.jpg" alt=""></a></li>
        <li class="products-item"><a href=""><img src="../images/pro3.jpg" alt=""></a></li>
        <li class="products-item"><a href=""><img src="../images/pro4.jpg" alt=""></a></li>
        <li class="products-item"><a href=""><img src="../images/pro5.jpg" alt=""></a></li>
        <li class="products-item"><a href=""><img src="../images/pro6.jpg" alt=""></a></li>
        <li class="products-item"><a href=""><img src="../images/pro7.jpg" alt=""></a></li>
        <li class="products-item"><a href=""><img src="../images/pro8.jpg" alt=""></a></li>
      </ul>
      <div class="viewall">
        <a href="#">VIEW ALL</a>
      </div>
    </section>
    <!-- projects -->
    <section class="section-project">
      <div class="container">
        <div class="section-title">
          <h2>PROJECTS</h2>
          <img src="../images/icon1.png" alt="">
          <ul class="tabs">
            <li class="tabs-item"><a href="">WOOD</a></li>
            <li class="tabs-item"><a href="">LED LIGHT</a></li>
            <li class="tabs-item"><a href="">CURTIAN</a></li>
          </ul>
        </div>
        <ul class="project-lists">
          <li class="project-item">
            <img src="../images/img1.jpg" alt="">
            <img src="../images/img5.jpg" alt="">
          </li>
          <li class="project-item">
            <img src="../images/img2.jpg" alt="">
            <img src="../images/img6.jpg" alt="">
          </li>
          <li class="project-item">
            <img src="../images/img3.jpg" alt="">
            <img src="../images/img7.jpg" alt="">
            <img src="../images/img8.jpg" alt="">
          </li>
          <li class="project-item">
            <img src="../images/img4.jpg" alt="">
            <img src="../images/img9.jpg" alt="">
          </li>
        </ul>
      </div>
    </section>
    <!-- news-event -->
    <section class="section-newevent">
      <div class="container">
        <div class="section-title">
          <h2>NEWS-EVENT</h2>
          <img src="../images/icon1.png" alt="">
        </div>
        <ul class="newevent-lists">
          <li class="newevent-item">
            <img src="../images/event1.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sequi illum nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil consequuntur, hic qui, ipsam veniam quasi alias expedita vero et harum atque adipisci aliquid doloremque ab! Voluptatem, esse eligendi. Odit, facilis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sequi illum nisi.</p>
          </li>
          <li class="newevent-item">
            <img src="../images/event2.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sequi illum nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil consequuntur, hic qui, ipsam veniam quasi alias expedita vero et harum atque adipisci aliquid doloremque ab! Voluptatem, esse eligendi. Odit, facilis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sequi illum nisi.</p>
          </li>
          <li class="newevent-item">
            <img src="../images/event3.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sequi illum nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil consequuntur, hic qui, ipsam veniam quasi alias expedita vero et harum atque adipisci aliquid doloremque ab! Voluptatem, esse eligendi. Odit, facilis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sequi illum nisi.</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- gallery -->
    <section class="section-gallery">
      <div class="container">
        <div class="section-title">
          <h2>GALLERY</h2>
          <img src="../images/icon1.png" alt="">
        </div>
        <ul class="gallery-lists">
          <li class="gallery-item">
            <a href=""><img src="../images/gal1.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum consectetur tenetur autem eveniet natus quis reiciendis quisquam similique voluptatibus.</p>
          </li>
          <li class="gallery-item">
            <a href=""><img src="../images/gal2.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum consectetur tenetur autem eveniet natus quis reiciendis quisquam similique voluptatibus.</p>
          </li>
          <li class="gallery-item">
            <a href=""><img src="../images/gal3.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum consectetur tenetur autem eveniet natus quis reiciendis quisquam similique voluptatibus.</p>
          </li>
          <li class="gallery-item">
            <a href=""><img src="../images/gal4.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum consectetur tenetur autem eveniet natus quis reiciendis quisquam similique voluptatibus.</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- map -->
    <section class="section-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15336.298782730117!2d108.18437569999999!3d16.0616132!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1512654314034" width="1580" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
    <!-- contact -->
    <section class="section-contact">
      <div>
        <h2>CONTACT WITH US</h2>
      </div>
      <div class="container">
        <div class="contact-component contact-form">
          <span>Please enter your information below</span>
          <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Phone Number">
            <textarea rows="5" type="text" placeholder="Content"></textarea>
          </form>
        </div>
        <div class="contact-component contact-info">
          <h3>COMPANY INTERIOR DESIGN CONSULTANCY HOME STAY</h3>
          <p>Consulting - Interior design</p>
          <p><strong>Address:</strong>109 Nguyen Hien, Son Tra, Da Nang</p>
          <p><strong>Phone:</strong>01287 069 177</p>
          <ul>
            <li><a href=""></a><img src="../images/facebook.png" alt=""></li>
            <li><a href=""></a><img src="../images/twiter.png" alt=""></li>
            <li><a href=""></a><img src="../images/googleplus.png" alt=""></li>
            <li><a href=""></a><img src="../images/twiter.png" alt=""></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <!-- footer -->
  <footer>
    <div class="container">
      <p>&copy2017 - Copyright by I lome Stay Company Co.ltd</p>
      <p>Design By <span>DavidAnh.vn</span></p>
    </div>
  </footer>
</body>
</html>
