$primary-font: "UTM Avo";
$secondary-font: "Arial";
$primary: #0b9444;
$secondary: #282828;
$softwhite:#f7f7f7;
$white: #ffffff; 
$aboutBackground: #f7f7f7;
$textColor: #414141;
$viewallBackground: #39b54a;
$contactColor: #9f9f9f;
$footerText:#e0e0e0;
